@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Indie+Flower&family=Satisfy&display=swap');
$bg-color-orange: rgb(94, 80, 56);

$colores-redes: (
    facebook: #3b5998,
    twitter: #00acee,
    instagram: #C13584,
    youtube: #c4302b
);

@mixin sombras(){
    border-radius: 15px;
    box-shadow: 0px 10px 10px black;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #b1b1b1;
    background-color: #F3F6FF;
    color: #28010d;
    header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        nav{
            background-color: $bg-color-orange;
            .container-fluid{
                .logo{
                    background-image: url("../assets/argentina.svg");
                    background-size: cover; 
                    background-repeat: no-repeat;
                    padding: 5px;
                    min-height: 50px;
                    min-width: 40px;
        

                }
                .collapse{
                    ul{
                        li{
                            .fa-facebook-f{
                                color: rgb(9, 8, 8);
                            }
                            .fa-instagram{
                                color: rgb(9, 8, 8);
                            }
                            .fa-twitter{
                                color: rgb(9, 8, 8);
                            }
                            .fa-youtube{
                                color: rgb(9, 8, 8);
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        min-height: 90vh;
        #hero{
            background-image: url("../assets/a4.jpg");
            background-size: cover; 
            background-repeat: no-repeat;
            min-height: 90vh;
            .title-container{
                h1{
                    font-family: "Roboto";
                    font-size: 3rem;
                }
                .humo {
                    width: 100%;
                    height: 6px;
                    background: orange;
                    transform-origin: top, left;
                    animation: animacion_humo_bg 5s infinite ease-in-out;
                    
                }
                /*animacion humo*/
                @keyframes animacion_humo_bg {
                    0% {
                        transform: scale(.01,1);
                        transform-origin: left;
                        filter: blur(10px);
                    }

                    100% {
                        transform: scale(1,1);
                        transform-origin: left;
                        filter: blur(10px);
                    }
                }
                h3{
                    font-size: 3rem;
                }
            }
        }
        #galeria{
            padding-top: 70px;
        }
        #nosotres-container{
            padding-top: 70px;
        }
        div{
            div{
                article{
                    .cita{
                        font-family: 'Ibarra Real Nova', serif;
                        font-size: 1.3rem;
                        background-color: #d6d6d664
                    }
                    p{
                        span{
                            @extend .cita;
                        }
                    }
                }
                .alice{
                    @include sombras;
                }
                .form-container{
                    @include sombras;
                }
            }
            /* Galeria */
            .items{
                min-width: 200px;
                min-height: 200px;
                background-size: cover; 
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Ibarra Real Nova', serif;
                background-color: #b1b1b1;
                color: rgb(255, 250, 250);
                @include sombras;
                
            }
            .items:hover {
                color: orange;
                cursor: pointer;
                filter: blur(1px);
                transition:all 1.05s ease-in-out;    
            }
            .bg-img{
                background-image: no-repeat;
                background-image: center;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);                
            }
            .item1 {
                background-image: url("../assets/madryn.webp");

            } 
            .item2 {
                background-image: url("../assets/bariloche.jpg");
            } 
            .item3 {
                background-image: url("../assets/Las-grutas.webp");
            } 
            .item4 {
                background-image: url("../assets/comodoro.jpg");
            }
            .item5 {
                background-image: url("../assets/ushuaia.jpeg");
            } 
            .item6 {
                background-image: url("../assets/bahia.jpg");
            }
            .item7 {
                background-image: url("../assets/a7.jpg");
            }
            .item8 {
                background-image: url("../assets/a8.jpg");
            }
            .item9 {
                background-image: url("../assets/a9.jpg");
            }

        }
        .container{
            div{
                div{
                    div{
                        .ubicacion{
                            max-width: 300px;
                            max-height: 300px;
                        }

                    }
                }
            }
        }
        #contacto{
            background-image: url("../assets/a1.jpg");
            background-size: cover; 
            background-repeat: no-repeat;
            min-height: 90vh;
            div{
                .form-container{
                    background-color: rgba(0,0,0,0.55);
                    color:white;
                    .contactenos{
                        background-color: transparent;
                    }
                    .card{
                        background-color: rgba(255, 166, 0, 0.322);
                    }
                }
            }
        }
    }

    footer{
        background-color: $bg-color-orange;

    }
}

@media (max-width: 870px) {
    #hero{
        background-image: url("../assets/comidaveggie-backgroundimage.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        min-height: 90vh;
    }
    .firma > p, .firma > p > .mi-nombre {
        font-size: 0.8rem;
    }
    h1{
        color: #F3F6FF;
    }
    h3{
        background-color: whitesmoke;
        border-radius: 3px;
        text-align: center;
        padding: 5px;
    }
    .humo{
        display: none;
    }
  }
